* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background-color: #116175;
  color: #fff;
}
.screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: #5898a5;
  width: 40vw;
  height: 60vh;
  border-radius: 40px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.Wrapper {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.input {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}
.input input {
  width: 80%;
  height: 70%;
  border-radius: 40px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 17px;
  text-align: center;

  outline: none;
  padding: 0 10px;
  background: transparent;
}
.btn {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
}
.btn button {
  width: 30%;
  height: 70%;
  border-radius: 30px;
  border: 1px solid #fff;
  color: #000000;
  font-size: 17px;
  text-align: center;
  padding: 0 10px;
}
.cityName {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cityName p {
  color: #000;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}
.weatherNumber {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: #6b0b0b; */
}
.temp {
  width: 14rem;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: aquamarine; */
}
.temp p {
  color: #000;
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
}
.humidity {
  width: 13rem;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgb(56, 149, 149); */
}
.humidity p {
  color: #000;
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
}
.weatherNumber p {
  color: #000;
  font-size: 25px;
  font-weight: bold;
}
@media (max-width: 700px) {
  .box {
    width: 83vw;
    height: 80vh;
  }
  .input input {
    border-radius: 40px;
    width: 90%;
  }
  .btn button {
    width: 60%;
  }
  .cityName p {
    font-size: 20px;
    color: #27ffb0;
  }
  .weatherNumber p {
    font-size: 20px;
    color: #afcbc1;
  }
  .weatherNumber .temp .tempData {
    font-size: 20px;
    color: #27ffb0;
  }
  .weatherNumber .humidity .humidityData {
    font-size: 20px;
    color: #27ffb0;
  }
}
@media (min-width: 701px) and (max-width: 1600px) {
  .box {
    width: 70vw;
    height: 80vh;
  }
  .cityName p {
    font-size: 20px;
    color: #27ffb0;
  }
  .weatherNumber p {
    font-size: 20px;
    color: #afcbc1;
  }
  .weatherNumber .temp .tempData {
    font-size: 20px;
    color: #27ffb0;
  }
  .weatherNumber .humidity .humidityData {
    font-size: 20px;
    color: #27ffb0;
  }
}
